@{
  ViewData["Title"] = "A Web page";
}

@model List<User>;

<div>
  <ul>
    @foreach(var user in Model)
    {
      if(@user.LastName == null)
      {
        <li>@user.FirstName</li>
      }
      else
      {
        <li>@user.FirstName @user.LastName</li>
      }
    }
  </ul>
</div>